img{
    width: 234px;
    height: 157px;
    margin-left: 14%;
    margin-top:8%;
    border-radius: 35px;
}

.row{
    margin-top: 8%;
}

h2{
    margin-left: 14%;

}

h5{
    margin-left: 56px;
}

span{
    margin-left: 101px;
}

@media(max-width:768px){
    h2{
        margin-left: 89px;
    }

    h5{
        margin-left: 75px;
    }

    p{
        margin-left: 20px;
    }
}