<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./../../assets/logosimply.jpg"  alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active ms-3 me-3" aria-current="page" routerLink="/jobfeed">Job Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-3" routerLink="/details">Details</a>
          </li>

        </ul>
        <form class="d-flex me-auto" role="search">
        </form>
       <a routerLink="/profile"> <i class="fa-solid fa-user fs-3"></i></a>
            </div>
    </div>
  </nav>

  <section>
  <img src="./../../assets/simplyback.jpg" class="img1" alt="">
  <h1 class="heading1">Simply hired</h1>
  <div class="container">
    <p class="p1">Job finding site of various companies in India, all staffing agencies or certain other types of jobs at SimplyHired's discretion. Terms, conditions, quality <span class="s1">standards and usage limits apply.</span></p>
  </div>
  </section>

  <section class="section2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 " >
          <img class="side1" src="./../../assets/sideiamgesimplify.jpg" alt="">
        </div>
        <div class="col-lg-6 col-md-12 ">
          <h6>OUR MISSION</h6>
          <h2>Come help <br> simplify work</h2>
          <p class="p2">We're looking to grow our teams with people who <br> share our energy and enthusiasm for creating the <br> best experience for job seekers and employers.</p>
        <p class="p2">Our mission is to create products that provide <br> opportunities for all job seekers. To do this, we <br> hire Indeedians of all backgrounds to mirror the <br> job seekers we support. That's why Inclusion and <br> Belonging are core values inside Indeed.</p>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <h3  class="heading2">MISSION</h3>
      <p class="p2">Five core values that guide us inside simplify.Learn the five defining values that help simplify become an industry expert and will continue to guide us as we look to change the way people look  get jobs in the future.As the working world continue to evolve,particularly over the last few years,employees have become more deliberate about their employment descisions.Simplify began an
        offering Restricted stack units as a way to reward employees. </p>
    </div>
  </section>

  <section>
    <div class="container">
      <img src="./../../assets/simplify2.jpeg" class="img2" alt="">
      <div class="divnew">
<div class="container p-3">
          <h6 class="heading3">Benefits  <br></h6>
        <h1 class="heading4">  Work Well.Live well.</h1>
        <p class="p3">In addition to our powerful mission of helping people get jobs, there are plenty of reasons to come work with us. We’ve assembled an extensive Total Rewards package of perks, programs and benefits that show how much we value our people, whether they’re inside Indeed or out.</p>

</div>      </div>
    </div>
  </section>

<section class="bg-black">
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-12"  id="footercol" >
      <a href="" style="text-decoration:none;">Our Employee reviews</a> <br>  


      <a href="" class="links" style="color:white; text-decoration: none;" >Indeed</a> <br>
      <a href="" style="color:white; text-decoration: none;" >Glassdoor</a>

    </div>
    <div class="col-lg-3 col-md-12" id="footercol">
      <a href="" style="text-decoration:none;">Candidate Commitment</a> <br>  


      <a href="" class="links" style="color:white; text-decoration: none;" >ESG</a> <br>
      <a href="" style="color:white; text-decoration: none;" >Job seeker CHAIR</a> <br>
      <a href="" class="links" style="color:white; text-decoration: none;" >Accessibility at Simplify</a> <br>
      <a href="" style="color:white; text-decoration: none;" >Privacy</a>

    </div>
    <div class="col-lg-3 col-md-12" id="footercol">
      <a href="" style="text-decoration:none;">Job Seeker Resources</a> <br>  


      <a href="" class="links" style="color:white; text-decoration: none;" >Career Advice</a> <br>
      <a href="" style="color:white; text-decoration: none;" >Job related posts</a>


    </div>
    <div class="col-lg-3 col-md-12" id="footercol">
      <a href="" style="text-decoration:none;">Follow us on</a> <br>  


      <a href="" class="links" style="color:white; text-decoration: none;" ><i class="fa-brands fa-instagram  p-1"></i></a> 
      <a href="" class="links" style="color:white; text-decoration: none;" ><i class="fa-brands fa-linkedin p-1"></i></a> 
      <a href="" class="links" style="color:white; text-decoration: none;" ><i class="fa-brands fa-facebook  p-1"></i></a> 
      <a href="" class="links" style="color:white; text-decoration: none;" ><i class="fa-brands fa-twitter  p-1"></i></a> 


    </div>
  </div>
</div>
</section>