<!-- without comtent -->
<div class="container mt-5" *ngIf="emsg">
    <div class="row">
        <div class="col">
            <img src="./../../assets/present.gif"  alt="">
            <h5 class="text-center mt-5">You haven't added any jobs</h5>
            <div class="text-center">
                <button class="btn btn-warning" routerLink="/jobfeed">Apply now</button>
            </div>

        </div>
    </div>
</div>


<!-- with content -->
<h2 class="text-center mt-5">My Jobs</h2>

<div class="container">

    <div class="row mt-4">

        <div class="col" *ngFor="let job of wishlist">


            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{job.title}}</h5>
                  <p>{{job.company}}<i class="fa-solid fa-star text-warning"></i> 5.0 </p>
                  <p><i class="fa-sharp fa-solid fa-location-dot"></i> &nbsp;{{job.place}}</p>
                  <div class="salary">
                    <p> <i class="fa-solid fa-sack-dollar"></i> Salary:₹ {{job.salary}}/month</p>
                    <p><i class="fa-solid fa-briefcase"></i> &nbsp;Full-time</p>
                    <button class="btn btn-outline-success" (click)="addcart(job)">Apply</button>
  
                  </div>
                </div>
              </div>
  
        </div>
    </div>
</div>
