<div class="container">

   <h2> PROFILE</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email id</th>
                <th>Address</th>
                <th>Mobile number</th>
                <th>Current Location</th>
                <th>Key skills</th>
                <th>Xth School name</th>
                <th>XIIth School name</th>
                <th>UG University</th>
                <th>Applied jobs</th>
               


            </tr>
</thead>

<tbody>
    <td>Benet Elsa Thomas</td>
    <td>benet@gmail.com</td>
    <td>XYZ Alappuzha </td>
    <td>1234567890</td>
    <td>Kochi</td>
    <td>Full stack</td>
    <td>ABC Central School</td>
    <td>DEF Central School</td>
    <td>XXX univerity</td>
    <td>Software intern</td>
</tbody>

 <h5>Resume:</h5>
 <input type="file">

    </table>
</div>
<div class="text-center">
    <button routerLink="" class="btn btn-warning">LOGOUT</button>

</div>  
